@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <li><input type="checkbox" value="001" />北京</li>
        <li><input type="checkbox" value="002" />上海</li>
        <li><input type="checkbox" value="003" />广州</li>
        <li><input type="checkbox" value="004" />深圳</li>
    </ul>
</div>
